button {
  border: 1px solid $orange;
  border-radius: $medium;
  background-color: $light-blue;
  color: $blue;
  cursor: pointer;
  &:hover {
    background-color: $blue;
    color: $light-blue;
  }
}